<div class="container w-50 mt-3 mb-5">
    <h1>Cadastrar</h1>
</div>

<div class="container w-50">
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" id="name" name="name" class="form-control" ngModel required
        [ngClass]="{'is-invalid': nome.invalid && myForm.submitted}" #nome="ngModel">
      </div>
  
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" class="form-control" ngModel required password min="6" max="20"
        [ngClass]="{'is-invalid': password.invalid && myForm.submitted}" #password="ngModel">
      </div>

      <div class="form-group">
        <label for="passwordConfirmed">Confirmação de Senha</label>
        <input type="password" id="passwordConfirmed" name="passwordConfirmed" class="form-control" ngModel required passwordConfirmed min="6" max="20"
        [ngClass]="{'is-invalid': passwordConfirmed.invalid && myForm.submitted}" #passwordConfirmed="ngModel">
      </div>
  
      <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>